.doctor-content{
  margin-left: 15%;
  padding: 20px;
}

.btn-create-doctor{
  padding: 5px 0;
  width: 100%;
  background-color: $main_blue;
  color: #fff;
  font-weight: bold;
}

td, th {
    text-align: left;
    padding: 8px;
}


.fa-edit-doctor{
  color: $main_blue;
}

.fa-delete-doctor{
  color: $main_red;
}
