.btn-home-login{
  text-align: center;
  width: 120px;
  font-weight: bold;
  border: 1px solid $main_blue;
  border-radius: 5px;
  padding: 10px 30px;
  color: #020100;
}


.btn-home-login:hover{
  background-color: $main_blue;
  color: #fff !important;

}
