<div class="background-home">
  <div class="container pt-5">
    <%= render 'navbar' %>
  </div>

  <div class="banner-content">
    <div class="container">
      <h1>Os melhores médicos</h1>
      <h3>Prontos para ajudar sempre que necessário</h3>
    </div>
  </div>
</div>
