<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="info-container">
        <i class="far fa-clock fa-custom-icon fa-4x"></i>
        <h2>Funcionamento</h2>
        <p>Nossa clínica funciona das 9h às 18h com intervalo para almoço das 12h às 13h.</p>
      </div>

    </div>
    <div class="col-lg-4">
      <div class="info-container">
        <i class="fas fa-custom-icon fa-heartbeat fa-4x"></i>
        <h2>Rapidez</h2>
        <p>Cada consulta dura até 30min garantindo a pontualidade das consultas.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="info-container">
        <i class="fas fa-custom-icon fa-money-bill-wave fa-4x"></i>
        <h2>Preço justo</h2>
        <p>Com valores acessíveis conseguimos atender todos que precisam de uma consulta.</p>
      </div>
    </div>
  </div>
</div>
