<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="info-container">
        <i class="far fa-clock fa-custom-icon fa-4x"></i>
        <h2>Funcionamento</h2>
        <p>Nossa clínica funciona das 9h às 18h com intervalo para almoço das 12h às 13h.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="info-container">
        <i class="fas fa-custom-icon fa-heartbeat fa-4x"></i>
        <h2>Rapidez</h2>
        <p>Cada consulta dura até 30min garantindo a pontualidade das consultas.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="info-container">
        <i class="fas fa-custom-icon fa-money-bill-wave fa-4x"></i>
        <h2>Preço justo</h2>
        <p>Com valores acessíveis conseguimos atender todos que precisam de uma consulta.</p>
      </div>
    </div>
  </div>
</div>

<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-us-content">
          <h2>Tradição e qualidade tem nome <strong>MEDCARE</strong></h2>
          <p>Com equipe especializada a <strong>MedCare</strong> é referência no atendimento na região. Não perca tempo e agende
          hoje mesmo sua consulta.</p>
          <p class="btn-appointment-home">Agendamento: (XX)XXXX-XXXX<p>
        </div>
      </div>
      <div class="col-lg-6 p-4">
        <img class="img-about-us" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1623956090/photo-1532938911079-1b06ac7ceec7_qdop8e.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<footer id="footer-bg">
  <div class="footer-content">
    <p class="text-footer">Criado por Thiago H. R. Costa - 2021 - Confira meu
      <a href="https://github.com/thiagohrcosta" target="_blank">
        <i class="fab fa-footer fa-github"></i>
      </a>
    </p>
  </div>
</footer>
