<div class="dashboard-content">
  <div class="dashboard-status-box">
    <div class="status-card">
      <div class="status-flex">
        <div class="icon-background">
          <i class="fas fa-dash-icon fa-notes-medical fa-4x"></i>
        </div>
        <h3>Total de consultas</h3>
      </div>
      <div class="status-flex">
        <div class="icon-background">
          <i class="fas fa-dash-icon fa-procedures fa-4x"></i>
        </div>
        <h3>Total de pacientes únicos atendidos</h3>
      </div>
      <div class="dash-quick-action">
        <%= link_to "Cadastrar novo médico", new_doctor_path, class: "btn-add-doctor mb-3" %>
        <%= link_to "Cadastrar paciente", new_patient_path, class: "btn-add-doctor" %>
      </div>
    </div>
  </div>
</div>

