<div class="sidebar">
    <div class="sidebar-content mt-3">
      <h3 class="text-center">Bem vindo,</h3>
      <h5 class="text-center"><%= current_user.email %></h5>
      <hr class="hr-line">
      <ul class="icon-list">
        <li><i class="fas fa-columns mr-3 mb-3"></i> <%= link_to "Dashboard", dashboard_path, class: "dash-menu-item" %></li>
        <li><i class="fas fa-user-injured mr-3 mb-3"></i><%= link_to "Pacientes", patients_path, class: "dash-menu-item" %></li>
        <li><i class="fas fa-user-md mr-3 mb-3"></i> <%= link_to "Médicos", doctors_path, class: "dash-menu-item" %></li>
        <li><i class="fas fa-calendar-check mr-3 mb-3"></i> Agendamento</li>
      </ul>
    </div>
</div>
