<%= render './pages/sidebar' %>
<%= render './pages/dashboard_content' %>

<div class="doctor-content">
  <h2>Lista de médicos</h2>

  <% @doctors.each do |doctor| %>
    <p><%= doctor.name %></p>
  <% end %>

</div>





