$main_blue: #2F4687;
$light_blue: #ADD7F6;
$medium_blue: #87BFFF;
$light_green: #20C5B9;
$main_green: #06D6A0;
$medium_green: #048A81;
$main_red: #C84B31;


body{
  font-family: 'Roboto', sans-serif;
}

table{

  th{
    background-color: $main_blue;
    color: #fff;
  }

}
