<%= render './pages/sidebar' %>
<%= render './pages/dashboard_content' %>

<div class="appointment-content">
  <div class="appointment-header">
    <h2>Consultas agendadas</h2>

    <%= link_to "Agendar consulta", new_appointment_path %>

  </div>



</div>





